### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### VS Code ###
.vscode
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Spring Boot ###
application-local.yml

### DB ###
registry.db
